body {
    font-family: 'Myriad Pro', sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    padding-top: 61px;
}

.header-logo {
    text-decoration: none;
    text-align: left;
    margin-bottom: 45px;
    display: inline-block;
}

.header-logo h2 {
    display: inline-block;
}

.logo-text {
    color: #000000;
    font-size: 80px;
    font-weight: 400;
}

.blue-text {
    color: #4bcaff;
}
.nav-bar {
    width: 1280px;
    height: 69px;
    background-color:#35444f;
    text-align: center;
    margin-bottom: 50px;
}
.nav-bar-item {
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 65px;
    text-decoration: none;    
    padding-left: 35px;
    padding-right: 35px;
    transition: 0.4s;
}

.nav-bar-item:hover {
    background-color:  #222f3a;
}

.nav-bar-item:last-of-type {
    margin-right: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.main {
    margin-bottom: 50px;
}
.left-sidebar {
    float: left;
    width: 340px;
    border: 1px solid black;
    vertical-align: top;
}

.highlited-sm-item {
    text-decoration: none; 
    display: inline-block;
    padding: 28px 44px;
    font-size: 27px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.4s;
}

.highlited-sm-item:hover {
    background-color:#dcdcdc;
    padding-left: 69px;
    
}

.content {
    float: right;
    text-align: center;
}

.img-container {
    padding:75px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.pharagraph-text {
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    width: 885px;
}

.footer-container {
    width: 1280px;
    background-color: #b5b8bb;
    text-align: center;
    margin: 0 auto;
    padding: 22px 44px;
    box-sizing: border-box;
}

.footer-menu {
    float: left;
    text-align: left;
}

.footer-menu-item {
    display: inline-block;
    color:  #0c1927;
    font-size: 28px;
    text-decoration: none;
    margin-right: 18px;
}

.footer-menu-item:hover {
    color: #4bcaff;
    padding-bottom: 4px;
    border-bottom: 1px solid #4bcaff;
}

.footer-menu-item:last-of-type {
    margin-right: 0;
}

.copyright {
float: right;
color:  #010000;
font-size: 24px;
text-align: right;
margin-right: 34px;
}

